/* -------------------COLORS------------------- */

:root {
  --brand-color: #2196f3;
  --second-color: #212121;
  --contacts-color: #757575;
  --brand-dark: #000000;
  --brand-light: #ffffff;
  --background-main: #ffffff;
  --background-dark: #2f303a;
  --background-light: #f5f4fa;
}

/* -------------------RESET------------------- */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}

/* -------------------BODY------------------- */

body {
  font-family: "Roboto", sans-serif;
  color: var(--second-color);
  font-size: 14px;
  background-color: var(--background-main);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.h-invis {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* -------------------HEADER------------------- */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-connect {
  margin-left: auto;
}

.header-logo,
.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  /* identical to box height */
  letter-spacing: 0.03em;
}

.header-logo {
  margin-right: 93px;
}

.header-logo-color-one {
  color: var(--brand-color);
}

.header-logo-color-two {
  color: var(--brand-dark);
}

.header-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.header-link:hover,
.header-link:focus,
.header-link-current {
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.contact-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
}

.contact-link:hover,
.contact-link:focus {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

/* -------------------INDEX HERO------------------- */
.hero {
  background-color: var(--background-dark);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--brand-light);
  margin-bottom: 30px;
  width: 696px;
}

.hero-button {
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  min-width: 216px;
  min-height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */

  color: var(--brand-light);
  cursor: pointer;
}

/* -------------------INDEX BENEFITS------------------- */

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-container {
  display: flex;
  align-items: center;
}

.benefits-list {
  display: flex;
  gap: 30px;
}

.benefits-title {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits-after-title {
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}

/* -------------------INDEX WEDOING------------------- */

.wedoing {
  padding-bottom: 94px;
}

.wedoing-container {
  display: flex;
  flex-direction: column;
}

.wedoing-list {
  display: flex;
  gap: 30px;
}

.section-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* -------------------INDEX TEAM------------------- */

.team {
  background-color: var(--background-light);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-container {
  display: flex;
  flex-direction: column;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  background: var(--brand-light);
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-description {
  padding-top: 30px;
  padding-bottom: 30px;
  /* padding: 30px auto 30px auto; */
}

.team-name-surname {
  font-size: 16px;
  font-weight: 500;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
  margin-top: 10px;
}

/* -------------------PORTFOLIO------------------- */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
}

.portfolio-buttons {
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
  margin: 0 auto 50px auto;
}

.portfolio-button {
  background: var(--background-light);
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
  cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background: var(--brand-color);
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--brand-light);
}

.portfolio-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.portfolio-item {
  width: 370px;
  box-sizing: border-box;
}

.portfolio-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-color);
  margin-bottom: 4px;
}

.portfolio-after-title {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}

/* -------------------FOOTER------------------- */

.footer {
  background-color: var(--background-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-adress {
  font-style: normal;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-item:last-child {
  margin-bottom: 0;
}

.footer-location {
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--brand-light);
}

.footer-logo-color-one {
  color: var(--brand-color);
}

.footer-logo-color-two {
  color: var(--brand-light);
}
